@font-face {
    font-family: 'quicksandbook';
    src: url('../fonts/quicksand/quicksand_book-webfont.woff2') format('woff2'),
         url('../fonts/quicksand/quicksand_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import url('font-awesome.css')