/// FONTS

$font-primary: 'quicksandbook', Verdana;

/// COLORS

$color-main: #005882;
$color-main: #f75a6a;
$color-main: #81d0d6;

/// MIXINS

@mixin tile-calc($percent) {
     width: calc(#{$percent} - 20px);
}